/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Anybody', cursive;
    font-family: 'El Messiri', sans-serif;
    font-family: 'League Spartan', sans-serif;
	background-color: #cba4de;
}

/* Changing the background colour for the header */

header {
	background-color: #9661b6;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #ffffff;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
